@use "bootstrap" with (
  $light: #a7c080,
  $danger: #e67e80,
  $warning: #dbbc7f,
  $success: #7fbbb3,
  $primary: #2e383c,
  $secondary: #1e2326,
  $white: #d3c6aa,
  $font-family-sans-serif: "Kode Mono"
);

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");

.Convergence {
  font-family: "Sixtyfour Convergence", sans-serif !important;
  // margin-top: 5px !important;
}

//la navbar apparaît après le hero
#mainNav {
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
}

#mainNav.show {
  transform: translateY(0);
}

.logo-h2 {
  margin-bottom: -6px;
}

.w-33 {
  width: 33%;
}

#cta-hero:hover {
  color: bootstrap.$primary;
}

#headerContent:not(.show) .collapseinner {
  display: block;
}

//régler les problèmes de line height avec les icones par le font custom
.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.icon-link .bi {
  line-height: 1;
}
